<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout_common}"
>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(function () {
            history.pushState(null, null, location.href)
            window.onpopstate = function (event) {
                history.go(1)
            }
        })

        function showDetail(obj) {
            let id = $(obj).children().first().text();
            let url = "/board/detail/" + id;
            location.replace(url);
            history.pushState(null, null, location.href)
            window.onpopstate = function (event) {
                history.go(1)
            }
        }

        function showPage(obj) {
            let num = $(obj).text() -1;
            let url = '/board/info/' + num;
            $.ajax({
                url: url,
                type: "POST",
                dataType: "html",
                cache: false,
                success: function (data) {
                    let pageCard = $('#pageCard');
                    pageCard.children().remove();
                    pageCard.append(data);
                    $('.active').removeClass('active');
                    $(obj).parent().addClass('active');
                }
            })
        }
    </script>
</th:block>
<th:block layout:fragment="css"></th:block>
<style th:inline="css"></style>

<th:block layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>게시판 조회</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">게시판 조회</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title">게시판 목록</h4>
                    <button class="btn btn-outline-danger btn-sm float-right"
                            id="writeBoard"
                            onclick="location.href='/board/form'"
                    >작성하기
                    </button>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                                <th scope="col">작성일</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider" id="pageCard">
                            <tr th:each="board : ${page.content}" onclick="showDetail(this)">
                                <th scope="row" th:text="${board.id}"></th>
                                <td th:text="${board.title}"></td>
                                <td th:text="${board.writer}"></td>
                                <td th:text="${#temporals.format(board.regTime,'yyyy-MM-dd a HH:mm:ss')}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="float-right">
                            <nav aria-label="Page navigation">
                                <ul class="pagination" th:with="start=${page.number+1}, end=(${(start+4 >= page.totalPages) ? ((start > page.totalPages) ? start : page.totalPages): start+4})">
                                    <li class="page-item" th:classappend="${page.first} ? 'disabled' " th:with="prePage=(${(page.number -5 < 0 ) ? 0 : page.number -5})">
                                        <a class="page-link" th:href="@{/board/info(page=${prePage})}">Prev</a>
                                    </li>
                                    <li class="page-item" th:each="num : ${#numbers.sequence(start,end)}" th:classappend="${page.number +1 eq num} ? 'active'">
                                        <a class="page-link" th:text="${num}" onclick="showPage(this)"></a>
                                    </li>
                                    <li class="page-item" th:classappend="${page.number +5 >= page.totalPages} ? 'disabled'"
                                        th:with="nextPage=(${page.number +5 > page.totalPages ? page.totalPages : page.number +5})">
                                        <a class="page-link" th:href="@{/board/info(page=${nextPage})}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</html>

