<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout_common}"
>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function showDetail(obj) {
            let id = $(obj).children().first().text();
            let url = "/board/detail/" + id;
            location.replace(url);
        }
    </script>
</th:block>
<th:block layout:fragment="css"></th:block>
<style th:inline="css"></style>

<th:block layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>게시판 조회</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">게시판 조회</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title">게시판 목록</h4>
                    <button class="btn btn-outline-danger btn-sm float-right"
                            id="writeBoard"
                            onclick="location.href='/board/form'"
                    >작성하기</button>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            <tr th:each="board : ${boards}" onclick="showDetail(this)">
                                <th scope="row" th:text="${board.id}"></th>
                                <td th:text="${board.title}"></td>
                                <td th:text="${board.writer}"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성자</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</html>

