<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout_common}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function deleteBoard(obj) {
            let id = obj.dataset.id;
            let url = "/board/delete/" + id;
            $.ajax({
                url: url,
                type: "DELETE",
                cache: false,
                success: function (data) {
                    location.replace("/board/info");
                }
            })
        }

        function updateBoard() {
            $('#saveBtn').css('display', 'block');
            $('#updateBtn').css('display', 'none');
            $('.form-control').attr('disabled', false);
        }

        function saveBoard(obj) {
            let id = obj.dataset.id;
            let url = "/board/update";
            let boardDto = {
                id: id,
                title: $('#title').val(),
                content: $('#content').val()
            }
            $.ajax({
                url: url,
                type: 'PATCH',
                data: JSON.stringify(boardDto),
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                cache: false,
                success: function () {
                    $('#saveBtn').css('display', 'none');
                    $('#updateBtn').css('display', 'block');
                    $('.form-control').attr('disabled', true);
                },
                error: function () {
                }
            })
        }

        function deleteReply(obj) {
            let id = obj.dataset.id;
            let url = "/reply/delete/" +id;
            $.ajax({
                url: url,
                type: "DELETE",
                success: function () {
                    location.replace(location.href);
                }
            })
        }

        function showModal(obj) {
            let id = obj.dataset.id;
            $('#rid').val(id);
            let url = "/reply/modal/" + id;
            $.ajax({
                url: url,
                type: "POST",
                contentType: 'application/text',
                success: function (data) {
                    $('div.modal').modal();
                    $('#modalContent').text(data);
                }
            })
        }

        function updateReply(obj) {
            let id = $('#rid').val();
            let url = "/reply/update" + id;
            let data = $('#modalContent').val();
            $.ajax({
                url: url,
                type: 'PATCH',
                data: data,
                dataType: 'html',
                contentType: 'application/text',
                success: function(data) {
                    let replyCard = $('#replyCard');
                    $('div.modal').modal('hide');
                    replyCard.children().remove();
                    replyCard.append(data);
                }
            })
        }

        function deleteDupReply(obj) {
            let id = obj.dataset.id;
            let url = '/dupRely/delete' + id;
            $.ajax({
                url:url,
                type: 'DELETE',
                success: function (){
                    location.replace(location.href);
                }
            })
        }

        function updateDupReply(obj) {
            let id = obj.dataset.id;
            let updateForm = "<form action=\"/dupReply/update\" method=\"post\" id=\"dupUpdateForm\">\n" +
                "       <div class=\"form-group\">\n" +
                "        <div class=\"input-group\">\n" +
                "         <input type=\"hidden\" name=\"dupReplyId\" id=\"dupReplyId\">\n" +
                "         <textarea class=\"form-control\" id=\"dupReply\" name=\"dupReply\" rows=\"2\"></textarea>\n" +
                "         <button class=\"btn btn-primary btn-lg\" type=\"submit\">작성</button>\n" +
                "        </div>\n" +
                "       </div>\n" +
                "      </form>";
            let content = $(obj).closest('.comment').children().last().text();
            $(obj).closest('.comment').children().last().remove();
            $(obj).closest('.comment').append(updateForm);
            $('#dupReplyId').val(id);
            $('#dupReply').text(content);
        }

        function showDupForm(obj) {
            let id = obj.dataset.id;
            let dupForm = "<form action=\"/dupReply/new\" method=\"post\" id=\"dupForm\">\n" +
                "       <div class=\"form-group\">\n" +
                "        <div class=\"input-group\">\n" +
                "         <input type=\"hidden\" name=\"replyId\" id=\"replyId\">\n" +
                "         <textarea class=\"form-control\" id=\"dupReply\" name=\"dupReply\" rows=\"2\"></textarea>\n" +
                "         <button class=\"btn btn-primary btn-lg\" type=\"submit\">작성</button>\n" +
                "        </div>\n" +
                "       </div>\n" +
                "      </form>";
            $(obj).closest('.list-group').append(dupForm);
            $('#replyId').val(id);
        }
    </script>
</th:block>

<th:block layout:fragment="css">
    <style th:inline="css">
        .fieldError {
            color: #9f1447;
        }
    </style>
</th:block>

<th:block layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>상세보기</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">상세보기</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title">상세내용</h4>
                    <div class="btn-group float-right" th:if="${#strings.equals(boardDto.memberEmail, userEmail)}">
                        <button id="updateBtn" type="button" class="btn btn-outline-warning btn-sm"
                                onclick="updateBoard()"
                        >수정
                        </button>
                        <button id="saveBtn" type="button" class="btn btn-outline-success btn-sm"
                                th:data-id="${boardDto.id}" style="display: none" onclick="saveBoard(this)"
                        >저장
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" th:data-id="${boardDto.id}"
                                onclick="deleteBoard(this)"
                        >삭제
                        </button>
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-sm float-right mr-1"
                            onclick="location.href='/board/info'">
                        목록
                    </button>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label>제목</label>
                            <input id="title" class="form-control" type="text" th:value="${boardDto.title}" disabled/>
                        </div>

                        <div class="form-group">
                            <label>내용</label>
                            <textarea id="content" class="form-control" th:text="${boardDto.content}" rows="10"
                                      disabled></textarea>
                        </div>
                        <strong class="mr-2" style="display: inline">최근 수정일</strong>
                        <p style="display: inline; color: grey;"
                           th:text="${#temporals.format(boardDto.updateTime,'yyyy-MM-dd a HH:mm:ss')}"></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="card card-default">
                <div class="card-header">
                    <h4 class="card-title">댓글</h4>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="/reply/new" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="hidden" th:value="${boardDto.id}" name="boardId">
                                    <textarea class="form-control" name="reply" id="reply" rows="2"></textarea>
                                    <button class="btn btn-primary btn-lg" type="submit">작성</button>
                                </div>
                            </div>
                            <hr/>
                        </form>

                        <div id="replyCard">
                            <div class="list-group ml-2 mr-2" th:each="reply: ${replies}">
                                <div>
                                    <div class="row border-bottom mb-2">
                                        <div class="col">
                                            <div class="comment">
                                                <div class="d-flex flex-low align-items-center">
                                                    <strong th:text="${reply.writer}"></strong>
                                                    <p class="small m-0 ml-2" style="color: grey" th:text="${reply.updateTime}"></p>
                                                    <div th:if="${#strings.equals(userEmail, reply.memberEmail)}">
                                                        <a class="ml-0" th:data-id="${reply.id}" onclick="showModal(this)">수정</a>
                                                        <a class="ml-1" th:data-id="${reply.id}" onclick="deleteReply(this)">삭제</a>
                                                    </div>
                                                    <a class="ml-1" th:data-id="${reply.id}" onclick="showDupForm(this)">답글</a>
                                                </div>
                                                <p th:text="${reply.content}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 border-bottom" style="margin-left: 40px" th:each="dupReply:${reply.dupReplyDtoList}">
                                    <div class="col">
                                        <div class="comment">
                                            <div class="d-flex flex-row align-items-center">
                                                <strong th:text="${dupReply.writer}"></strong>
                                                <p class="small m-0 ml-2" style="color:grey" th:text="${dupReply.updateTime}"></p>
                                                <div th:if="${#strings.equals(dupReply.memberEmail, userEmail)}">
                                                    <a class="m-1" th:data-id="${dupReply.id}" onclick="updateDupReply(this)">수정</a>
                                                    <a class="m-1" th:data-id="${dupReply.id}" onclick="deleteDupReply(this)">삭제</a>
                                                </div>
                                            </div>
                                            <p th:text="${dupReply.content}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">댓글 수정</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">$times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" id="rid" name="replyId">
                                <textarea id="modalContent" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                            <button type="button" class="btn btn-primary" onclick="updateReply()">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
</html>